#core-block {
  position: fixed;
  top: clamp(-80px, -6vw, -40px);
  right: clamp(-80px, -6vw, -45px);
  z-index: 9997;
  width: min(380px, 35vw);
  height: min(380px, 35vw);
  pointer-events: none;
  background: transparent;
  aspect-ratio: 1;
}

#core-block canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
  pointer-events: auto;
}

@media (max-width: 768px) {
  #core-block { display: none; }
}
